In [2]:
import pandas as pd

In [5]:
data = pd.read_csv("./../data/train.csv")
data.head()

       TIME        SL      EEG  BP   HR  CIRCLUATION  target
0   4722.92   4019.64 -1600.00  13   79          317       1
1   8620.28  24949.90 -3198.06  35  157         1519       1
2   9238.73  39245.50 -2590.00  15  196         1885       1
3  12276.40  59742.00 -5101.00  56  249         2826       0
4  10255.70  66668.00 -6050.00  97  207         3048       0

In [29]:
data['target'].value_counts()

0    3674
1    2922
Name: target, dtype: int64

In [25]:
df.head()

       TIME        SL       EEG   BP   HR  CIRCLUATION
0   7069.95   15336.6  -3000.09   81  133          847
1   7836.78    5545.0  -2661.00   41  126          371
2  19248.10  162489.0 -10600.00   88  388         6290
3  12894.80   60525.0  -4780.00   25  247         2754
4  20309.90  291719.0 -11688.00  242  487        10978

In [26]:
df.to_csv('data/test.csv')